<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일반고객 메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <div class="profile-img"></div>
    <h1 th:text="|${userName}님, 환영합니다!|"></h1> <!-- 환영문구 -->
</header>

<main>
    <div class="button-grid">
        <a href="job.html" class="menu-button">
            <img src="images/jobreco.png" alt="일자리 추천받기" />
            <span>일자리<br />추천받기</span>
        </a>
        <a href="jobnew.html" class="menu-button">
            <img src="images/newjob.png" alt="새로 등록된 일자리" />
            <span>새로 등록된<br /><span class="highlight-yellow">일자리</span></span>
        </a>
        <a href="faq.html" class="menu-button">
            <img src="images/faq.png" alt="자주 묻는 질문" />
            <span>자주 묻는<br />질문</span>
        </a>
        <a href="contactadmin.html" class="menu-button">
            <img src="images/qna.png" alt="문의하기" />
            <span>문의하기</span>
        </a>
    </div>
</main>

<div class="bottom-icons">
    <a href="profile.html"><i class="fa-solid fa-user"></i></a>
    <a href="main.html" class="active"><i class="fa-solid fa-house"></i></a>
    <a href="map.html"><i class="fa-solid fa-map"></i></a>
</div>
</body>
</html>
