<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일반 프로필</title>
  <link rel="stylesheet" th:href="@{/css/profile.css}" />
  <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<header>
  <div class="profile-img"></div>
  <h1>내 프로필</h1>
</header>

<main>
  <div class="button-grid">
    <a th:href="@{/profileEdit}" class="menu-button">
      <img src="images/profileedit.png" alt="프로필 수정">
      <span>프로필<br>수정</span>
    </a>
    <a th:href="@{/inqList}" class="menu-button">
      <img src="images/qnaprofile.png" alt="문의 내역">
      <span>문의내역</span>
    </a>
    <a th:href="@{/jobHistory}" class="menu-button">
      <img src="images/research.png" alt="조회 기록">
      <span>일자리<br>조회 기록</span>
    </a>
    <a th:href="@{/accDel}" class="menu-button">
      <img src="images/accdel.png" alt="계정 탈퇴">
      <span>계정탈퇴</span>
    </a>
  </div>
</main>

<div class="bottom-icons">
  <a href="profile.html" class="active"><i class="fa-solid fa-user"></i></a>
  <a href="main.html"><i class="fa-solid fa-house"></i></a>
  <a href="map.html"><i class="fa-solid fa-map"></i></a>
</div>

<script th:src="@{/js/profile.js}"></script>
</body>
</html>